# =============== #
# Unity generated #
# =============== #
ABJamGame/[Tt]emp/
ABJamGame/[Oo]bj/
ABJamGame/[Bb]uild
ABJamGame/[Bb]uilds/
ABJamGame/[Ll]ibrary/
ABJamGame/sysinfo.txt
ABJamGame/*.stackdump
ABJamGame/Assets/AssetStoreTools*
ABJamGame/*.apk
ABJamGame/*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ABJamGame/[Ee]xported[Oo]bj/
ABJamGame/.vs/
ABJamGame/*.userprefs
ABJamGame/*.csproj
ABJamGame/*.pidb
ABJamGame/*.pidb.meta
ABJamGame/*.suo
ABJamGame/*.sln*
ABJamGame/*.user
ABJamGame/*.unityproj
ABJamGame/*.booproj
ABJamGame/.consulo/
ABJamGame/*.tmp
ABJamGame/*.svd
 
# ============ #
# OS generated #
# ============ #
ABJamGame/.DS_Store*
ABJamGame/._*
ABJamGame/.Spotlight-V100
ABJamGame/.Trashes
ABJamGame/Icon?
ABJamGame/ehthumbs.db
ABJamGame/[Tt]humbs.db
ABJamGame/[Dd]esktop.ini
ABJamGame/Corridor/Library/ShaderCache/
ABJamGame/Corridor/Library/metadata/
